{
    "oauth": {
        "consumerKey": "",
        "consumerSecret": "",
        "token" : "",
        "tokenSecret" : ""
    },

    "uris" : {
    	"baseUri" : "https://api.twitter.com/1.1/",
        "tweetUri" : "statuses/show.json",
        "searchUri" : "search/tweets.json",
        "followUri" : "friendships/create.json",
        "retweetUri" : "statuses/retweet/"
    },
    "search" : {
        "term" : ["witcher 3"],
        "options" : ""
    }
}
