{
    "oauth": {
        "consumerKey": "",
        "consumerSecret": "",
        "token" : "",
        "tokenSecret" : ""
    },

    "uris" : {
    	"baseUri" : "https://api.twitter.com/1.1/",
        "tweetUri" : "statuses/show.json",
        "searchUri" : "search/tweets.json",
        "followUri" : "friendships/create.json",
        "retweetUri" : "statuses/retweet/:id.json"
    },
    "search" : {
        "term" : "concours",
        "options" : {}
    },
    "bot" : {
        "options" : {
            "hourBegin" : 8,
            "hourEnd" : 20,
            "limitPerMinute" : 30,
        }
    }
}
