{
    "oauth": {
        "consumerKey": "",
        "consumerSecret": "",
        "token" : "",
        "tokenSecret" : ""
    },

    "uris" : {
        "baseUri" : "https://api.twitter.com/1.1/"
    }
}
